.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 2fr 4fr;
  }
}

.main {
  flex: 1;
  padding: 50px;
  background-color: #efeef2;
  padding-top: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
}

.actions-content {
  height: 30%;
  justify-content: flex-end;

  .btn-actions {
    flex-direction: column;
    min-width: 200px;
    min-height: 120px;
    justify-content: space-between;
    margin: 16px 0;
    align-items: flex-end;
    .ant-btn {
      height: 40px;
      width: 100%;
    }
  }
}
