.nav {
  min-height: 300px;
  flex-direction: column;
  padding: 80px 40px 0;
  background-color: #f9f9f9;
  h1 {
    color: #1890ff !important;
  }
  &-title {
    margin: 0 0 5px !important;
  }

  img {
    width: 80px;
  }
}

.item-astro {
  margin-top: 40px;
  span {
    font-size: 16px;
  }
}

.ad-wrapper-title {
  height: 100px;
}
