.nav {
  min-height: 300px;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  &-title {
    margin: 0 0 5px !important;
  }

  img {
    width: 80px;
  }
}

.item-astro {
  margin-top: 40px;
  span {
    font-size: 16px;
  }
}
