@import "~antd/dist/antd.css";

body {
  height: 100vh;
  min-width: 480px;
}

[ant-click-animating-without-extra-node]:after {
  animation: 0s !important;
}

.flex {
  display: flex;
}

.layout-routes {
  min-height: 100vh;
}

.ad-layout {
  .ant-layout-header {
    background: #fff;
    padding: 0;
  }
}
