@import "~antd/dist/antd.css";

body {
  height: 100vh;
  min-width: 480px;
}

[ant-click-animating-without-extra-node]:after {
  animation: 0s !important;
}

.flex {
  display: flex;
}

.layout-routes {
  min-height: 100vh;
}

.ad-layout {
  .ant-layout-header {
    background: #fff;
    padding: 0;
  }
}

.ad-btn-menu {
  height: 64px;
  border-radius: 0;
  width: 70px;

  i {
    font-size: 20px;
  }
}

.ad-search {
  input {
    border-radius: 0;
    border: none;
  }
}

@media (min-width: 768px) {
  .ad-wrapper-btn-menu {
    width: 50% !important;
  }
  .ad-wrapper-notifications {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .ad-search {
    display: none !important;
  }
  .ad-wrapper-btn-menu {
    width: auto !important;
  }
  .ad-wrapper-notifications {
    margin-right: 0;
  }
}

.ad-header-actions {
  justify-content: flex-end;
  padding: 0 60px 0 10px;
}

.ad-name-user {
  margin: 0px 10px;
}

.ad-wrapper-badge {
  width: 65px;
  text-align: center;
}

.ad-icon-badge {
  color: #abaaaa;
  font-size: 18px;
  sup {
    left: 8px;
    background: #1890ff;
  }
}
